USE [master]
GO
/****** Object:  Database [Baza1]    Script Date: 30.06.2019 22:58:25 ******/
CREATE DATABASE [Baza1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baza1', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Baza1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Baza1_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Baza1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baza1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baza1]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.06.2019 22:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NULL,
	[haslo] [nvarchar](50) NULL,
	[data_utworzenia] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
